*, *:before, *:after {
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
}

/*COLOR VARIABLES*/
body {
    /*FIRST SET OF COLOR*/
    --highlight-color:rgb(128, 104, 5);
    --light-color:#FFB7CB;
    --heart-red-color:#f68383;
    --dark-color: rgb(61, 9, 28);
    --text-color: rgb(161, 161, 161);

    /*SECOND SET OF COLOR*/
    --primary-color:#E9575D;
    --secondary-color: rgb(245, 241, 241);
    --background-color: #FFF2B5;
    --grid-color: rgb(225, 219, 219);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 100px;
    overflow-x: hidden;
    /* cursor: none; */
}

.dot-div 
{
    height: 10vh; 
    width: 100%;
    background-color:  var(--background-color);
    opacity: 1;
    background-image: radial-gradient(circle, #E9575D 0.6px, transparent 0.6px);
    background-size: 7.5px 7.5px;
}


.image 
{
    height: 27.3vh; 
    width: 40vw;
    position: relative;
    margin: auto;
    border: #E9575D 2px solid;
}

.div-ascii
{
    /* background-repeat: repeat-x; */
    background-image: url("../img/smiski-ascii.png");
    position: absolute;
    object-fit:scale-down;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-size: 10%;
}

#footer 
{
    position: absolute;
    bottom: 0;
    top: 90vh;
    height: 10vh; 
    width: 100%;
}

.scroll-text-div {
    width: 40vw;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

.info 
{
    width: 40vw;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.info p 
{
    width: fit-content;
}