
#scrolling-text {
    display: flex;
    align-items: center;
}

.scroll-text-div {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-text {
    display: inline-block;
    animation: Scroll 15s forwards linear infinite;
    margin: 0;
}

@keyframes Scroll {
    0%{transform: translate(0, 0)}
    100%{transform: translate(-100%, 0)}
}

.scroll-text h5 {
    white-space: nowrap;
    color: var(--background-color);
    color: var(--light-color);
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color), 0 5px var(--primary-color);
    font-size: 20vh;
    font-family: 'CyGrotesk Heavy';
}

.scroll-text span {
    font-size: 10vh;
}