
#scrolling-text {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 5vh;
}

.scroll-text {
    display: inline-block;
    animation: Scroll 15s forwards linear infinite;
    margin: 0;
}

@keyframes Scroll {
    0%{transform: translate(0, 0)}
    100%{transform: translate(-100%, 0)}
}

.scroll-text h5 
{
    white-space: nowrap;
    color: var(--background-color);
    color: var(--light-color);
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color), 0 5px var(--primary-color);
    font-size: 4vh;
    font-family: 'CyGrotesk Heavy';
}

.scroll-text span 
{
    font-size: 3vh;
    /* text-shadow: none; */
}

.scroll-text .red 
{
    color: var(--heart-red-color);
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color), 0 5px var(--primary-color);
}